#container {
	margin: 0 auto;
	max-width: 1200px;
}

a:hover {
	text-decoration: none;
}

h1 {
	padding: 5px;
}

.posts {
  list-style-type: none;
  margin-left: 0;
}

.posts li {
	width: 100%;
	border-bottom: 1px solid #E3E3E3;
	padding: 5px;
}

.posts li a {
	display: block;
	width: 100%;
}

.posts li h2 {
	margin: 0;
	display: inline;
}

.posts li h2 i {
	color: #E3E3E3;
}

.posts li:hover h2 i {
	color: #AAA;
}

.posts li date {
	display: inline-block;
}

.posts li .description {
	color: gray;
}

.posts li:hover {
	background-color: #f5f5f5;
}

aside img {
	border: 1px solid #E3E3E3;
	padding: 4px;
	margin-right: 10px;
	margin-bottom: 0px;
	background-color: white;
}

aside a {
	font-weight: bold;
}


/* blogpost styling */

.blogpost .content {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #e3e3e3;
  
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 2px 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 2px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 2px 1px 1px rgba(0, 0, 0, 0.05);
}

.blogpost h2 i {
	color: #E3E3E3;
}

.blogpost h2:hover i {
	color: #AAA;
}

.blogpost .content img {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

pre {
	padding: 3px;	
}