<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%= post.title %> | Kjetil Valle</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link rel="stylesheet" href="/css/pygments-colorful.css" />
    <link rel="stylesheet" href="/css/github.css" />

    <script type="text/javascript">
        if (window.location.host != 'localhost') {
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-26656926-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        }
    </script>
    <style>
        .header {
            display: block;
            text-align: center;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
        }
        .header .name {
            font-size: 24px;
            color: #666;
        }
        .header .name i {
            color: #E3E3E3;
        }
        .header .name:hover i {
            color: #AAA;
        }
    </style>
</head>
<body>
    <a href="/index.html" class="header">
        <span class="name">
            <i class="angle icon-double-angle-left"></i>
            Kjetil Valle
        </span>
        <%= post.date_string %>
    </a>
    <%= post.markdown %>
</body>
</html>